SERVER_PORT=8080
BOONTORY_DB_PATH=./data/boontory.db
FRONTEND_ORIGIN_PATTERNS=http://localhost:5173,http://127.0.0.1:5173,https://boontory.etharlia.com
KEYCLOAK_ISSUER_URI=https://auth.etharlia.com/realms/etharlia
