KEYCLOAK_BASE_URL=https://keycloak.example.com
KEYCLOAK_AUTH_REALM=master
KEYCLOAK_CLIENT_ID=service-account-client
KEYCLOAK_CLIENT_SECRET=replace-with-your-client-secret
KEYCLOAK_DEFAULT_REALM=master
